---
import Layout from "../layouts/Global.astro";
---

<Layout
  title="Resume"
  description="My Resume"
>
  <div class="flex flex-col transition-all h-[73vh] justify-center">
    <h1
      class="text-3xl transition-all mb-1 font-semibold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent"
    >
      Not good enough to be put here...
    </h1>
    <p class="text-neutral-400 mt-2">One day it would be here, contact me through emails!</p>
  </div>
</Layout>
