---
import { getCollection, CollectionEntry } from "astro:content";
import Layout from "../../layouts/blogs.astro";
// component import

export async function getStaticPaths() {
  const Allblogs = await getCollection("blogs");

  return Allblogs.map((blog) => ({
    params: { slug: blog.slug },
    props: {
      blog,
    },
  }));
}

interface Props {
  blog: CollectionEntry<"blogs">;
}

const { blog } = Astro.props;
const { Content } = await blog.render();
---

<Layout content={blog}>
  <Content />

  <div class="redirect m-0">
    <div class="tags flex pb-[0]">
      <p class="text-zinc-500 dark:text-neutral-400 p-y[0.3rem] text-sm">&gt Related Tags:&nbsp</p>
      {
        blog.data.tags.map((tag) => (
          <p class="tag p-y[0.1rem] px-[0.2rem]">
            <a
              class="ll text-zinc-500 dark:text-neutral-400 decoration-dashed underline font-semibold text-sm"
              href={`/personal_site/blogs/tags/${tag}`}
            >
              #{tag}
            </a>
          </p>
        ))
      }
    </div>
    <a class="decoration-none text-zinc-500 dark:text-neutral-400" href="/personal_site/">&gt cd</a>
  </div>
</Layout>
