---
import Layout from "../../layouts/Global.astro";
// import type { Article } from "../../types/article";
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";
dayjs.extend(customParseFormat);
// Return the list of articles in the "articles" directory
import { getCollection, CollectionEntry } from "astro:content";

const blogs = await getCollection("blogs");
// Parse the date of each article, sort by date descending and return an array of the 4 last articles

const sortedblogs = blogs.map((blog) => {
    const { title, date, description, image } = blog.data;
    return {
      title,
      date: dayjs(date, "DD-MM-YYYY").format("YYYY-MM-DD"),
      description,
      url: blog.slug,
      image: image,
    };
  })
  .sort((a, b) => {
    return dayjs(b.date).diff(dayjs(a.date));
  });
---

<Layout
  title="Frank"
  description="I'm Frank. I occasionally publish articles about programming and tech."
>
  <h1
    class="text-xl md:text-2xl bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent"
  >
  My latest article
  </h1>
  <p class="text-neutral-400 text-sm mt-1 mb-6">
    I may write when I don't have a good mood<br>
  </p>
  <div class="flex flex-wrap gap-3">
    {
      sortedblogs.map((blog) => (
        <a
          href={blog.url}
          class=" w-[100%] sm:w-[48%] bg-white/5 hover:scale-105  p-4 rounded-xl article"
        >
          <img
            src={"/personal_site/images/" + blog.image}
            class="w-full object-cover rounded-md aspect-video mb-4"
          />
          <div>
            <h2 class="font-medium text-sm  md:text-base ">{blog.title}</h2>
            <p class="text-sm text-white/40">{blog.description}</p>
            <p class="text-white/50 mt-3 text-right">
              {dayjs(blog.date, "YYYY-MM-DD")
                .format("DD/MM/YYYY")
                .toString()}
            </p>
          </div>
        </a>
      ))
    }
  </div>
</Layout>

<style>
  .article {
    transition: transform 0.15s ease-in-out;
  }
</style>
